<!DOCTYPE html>
<div class="container">
  <section class="section">
    <div class="columns is-multiline">
      <div class="column is-full">
        <h1>Top players</h1>
        <div>
          <table>
            <tr>
              <th>Name</th>
              <th>Won</th>
              <th>Lost</th>
              <th>Winning %</th>
              <th>Points</th>
            </tr>
            <tr ng-repeat="player in gamesIndex.players">
              <td>{{player.name}}</td>
              <td>{{player.won}}</td>
              <td>{{player.lost}}</td>
              <td>{{player.aver}}</td>
              <td>{{player.points}}</td>
            </tr>
          </table>
        </div>
      </div>


      <div class="column is-one-third">
        <h1>Create Player</h1>
        <form ng-submit="gamesIndex.playersCreate()" name="gamesIndex.playerCreateForm">
          <div class="field">
            <input type="text" name="name" placeholder="name" ng-model="gamesIndex.player.name">
          </div>
          <div class="field">
            <input type="submit" class="button is-primary" ng-click="gamesIndex.playercreate()" value="Create">
          </div>
        </form>
      </div>
      <div class="clolumn is-one-third">
        <h1>Create a Game</h1>
        <form ng-submit="gamesIndex.create()" name="gamesIndex.gameCreateForm">
          <div class="field">
            <select name="playerOne" ng-model="gamesIndex.game.playerOne">
              <option ng-repeat="player in gamesIndex.players" name="playerOne" value="{{ player.name }}" > {{ player.name }}</option>
            </select>
          </div>
          <div class="field">
            <select name="playerTwo" ng-model="gamesIndex.game.playerTwo">
              <option ng-repeat="player in gamesIndex.players" name="playerTwo" value="{{ player.name }}" > {{ player.name }}</option>
            </select>
          </div>
          <label for="playerOneScore">Player 1 Score</label>
          <div class="field">
            <input type="text" name="playerOneScore" placeholder="Score" ng-model="gamesIndex.game.playerOneScore">
          </div>
          <label for="playerTwoScore">Player 2 Score</label>
          <div class="field">
            <input type="text" name="playerTwoScore" placeholder="Score" ng-model="gamesIndex.game.playerTwoScore">
          </div>
          <input type="submit" class="button is-primary" ng-click="gamesIndex.create()" value="Create">
        </form>

      </div>
      <div class="column is-two">
        <h1>Recent Games</h1>
        <div ng-repeat="game in gamesIndex.games" class="column is-full">
            <table>
              <tr>
                <th>{{ game.playerOne }}</th>
                <th>{{ game.playerTwo }}</th>
              </tr>
              <tr>
                <td>{{game.playerOneScore }}</td>
                <td>{{game.playerTwoScore }}</td>
              </tr>

            </table>
        </div>
      </div>
    </div>
  </section>
</div>
