<!DOCTYPE html>
<div class="container">
  <section class="section">
    <div class="columns is-multiline">
      <div class="column is-full">
        <h1>Top players</h1>
        <div>
          <table>
            <tr>
              <th>Name</th>
              <th>Won</th>
              <th>Lost</th>
              <th>Winning %</th>
              <th>Points</th>
            </tr>
            <tr ng-repeat="player in gamesIndex.players">
              <td>{{player.name}}</td>
              <td>{{player.won}}</td>
              <td>{{player.lost}}</td>
              <td>{{player.aver}}</td>
              <td>{{player.points}}</td>
            </tr>
          </table>

        </div>

      </div>
      <div class="column is-one-third">
        <h1>Recent Games</h1>
        <div ng-repeat="game in gamesIndex.games" class="column is-full">
            <ul class="title">
              <li>{{ game.playerOne }}</li>
              <li>{{ game.playerTwo }}</li>
            </ul>
        </div>
      </div>
    </div>
  </section>
</div>
